.productCardPriceWithDiscountContainer {
  .originalPrice {
    color: var(--primary-c1-color-700);
    font-size: 14px;
    text-decoration: line-through;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

  .discountPrice{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
