@import "@/styles/variables";

.productsPageContainer {
  .productsPageTitle {
    font-family: $secondary-font;
    color: var(--primary-c1-color-900);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .productsPageList {
    font-weight: 600;
    color: var(--secondary-c2-color-500);
    .productsPageListItem {
    }
  }
}
