@import "@/styles/variables";
@import "@/styles/media";


.productsPageContainer {

  .productsPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 143px;

    .productsPageTitle {
      font-family: $secondary-font;
      color: var(--primary-c1-color-900);
      font-size: 32px;
      font-weight: 600;

      @include tablet {
        font-size: 24px;
      }
    }
  }

  .productsPageContent {
    display: flex;
    align-items: flex-start;
  }

  .paginationContainer {
    display: flex;
    justify-content: flex-end;
  }
}
