.productsPageContainer {
  .productsPageTitle {
    margin-bottom: 30px;
  }

  .productsPageList {
    font-weight: 600;
    color: var(--secondary-c2-color-500);
    .productsPageListItem {
    }
  }
}
