@import "@/styles/media";

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sidebarLargeMobile {
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
}
