@import "@/styles/variables";

.productWishListButton {
  display: flex;
  column-gap: 6px;
  align-items: center;
  background-color: transparent;
  color: var(--primary-c1-color-900);
  border: none;
  transition: $primary-transition;

  &:hover {
    color: var(--primary-c1-color-800);
    background-color: transparent;
    transition: $primary-transition;

    .productLikeIcon {
      transition: $primary-transition;
      stroke: var(--primary-c1-color-800);
    }
  }
}
