@import "@/styles/variables";

.productSliderCardDescriptionContainer {
  flex: 1 1 auto;

  .productSliderCardTitle {
    font-family: $secondary-font;
    font-weight: 500;
    margin-bottom: 8px;
    cursor: pointer;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .productSliderCardDescription {
    color: var(--primary-c1-color-800);
    font-size: 14px;
    margin-bottom: 16px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}
