@import "@/styles/variables";

.iconNotification {
  position: absolute;
  bottom: -6px;
  left: -5px;
  width: 16px;
  height: 16px;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--additional-c4-color-500);
  color: var(--primary-c1-color-100);
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
