@import "@/styles/variables";

.productCardButtonsContainer{
  display: flex;
  flex-direction: column;
  gap: 12px;

  .productDetailsButton{
  }

  .productWishListButton {
    font-family: $secondary-font;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    color: var(--primary-c1-color-900);
    background-color: var(--primary-c1-color-400);
    border: none;

    .likeIcon {
      stroke: var(--primary-c1-color-900);
    }

    &:hover {
      background-color: var(--primary-c1-color-500);
    }
  }
}
