@import "@/styles/media";

.productCardContainer {
  display: flex;
  border: 1px solid var(--primary-c1-color-600);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;

  @media (min-width: 678px) {
    &:hover {
      box-shadow: var(--primary-c1-color-300) 0 8px 24px;
    }
  }

  @media (max-width: 878px) {
    flex-direction: column;
  }

  .productCardContentWrapper {
    width: calc(100% - 270px);
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    column-gap: 24px;
    padding: 32px;

    @media (max-width: 878px) {
      width: 100%;
    }

    @media (max-width: 1150px) {
      flex-direction: column;
      padding: 24px;
    }
  }
}
