.productCardImageContainer {
  width: 270px;
  height: 280px;
  background-color: var(--primary-c1-color-700);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .productCardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .productCardNoAvailableImage {
    fill: var(--primary-c1-color-600);
  }
}
