@import "@/styles/media";

.layoutContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .mainContainer {
    margin: 0 45px 30px;
    flex: 1 1 auto;

    @include largeMobile {
      margin: 0 24px 30px;
    }
  }
}
