@import "@/styles/variables";

.footerNavbarMobileContainer {
  margin-bottom: 48px;

  .footerNavbarMobileContent {
    display: flex;
    justify-content: space-between;

    .footerNavbarMobileTitle {
    }
  }
}
