// BREAK POINTS

$DESKTOP: 1280px;
$PRODUCT_CARDS_CONTAINER: 1150px;
$LAPTOP: 1024px;
$PRODUCT_LAPTOP_CONTAINER: 900px;
$SIDEBAR_TABLET_CONTAINER: 878px;
$TABLET: 768px;
$SIDEBAR_MOBILE_CONTAINER: 678px;
$PRODUCT_CARD_MOBILE: 568px;
$LARGE_MOBILE: 480px;
$MOBILE: 350px;

// LIGHT COLORS SCHEME

$primary-c1-color-900: #151515;
$primary-c1-color-800: #575757;
$primary-c1-color-700: #A9A9A9;
$primary-c1-color-600: #D1D1D1;
$primary-c1-color-500: #EBEBEB;
$primary-c1-color-400: #F5F5F5;
$primary-c1-color-300: #F9F9F9;
$primary-c1-color-200: #FDFDFD;
$primary-c1-color-100: #FFFFFF;

$secondary-c2-color-500: #6A983C;
$secondary-c2-color-400: #46760A;
$secondary-c2-color-300: #92C064;
$secondary-c2-color-200: #C8DEB3;
$secondary-c2-color-100: #F4F8EC;

$additional-c3-color-600: #FDBC15;
$additional-c3-color-500: #D0A866;
$additional-c3-color-400: #B28A48;
$additional-c3-color-300: #ECD2A6;
$additional-c3-color-200: #FAEDD8;
$additional-c3-color-100: #FFF9F0;

$additional-c4-color-600: #de2020;
$additional-c4-color-500: #E5704B;
$additional-c4-color-400: #C7522D;
$additional-c4-color-300: #EB8D70;
$additional-c4-color-200: #F7C6B7;
$additional-c4-color-100: #FFF1ED;

$additional-c5-color-500: #37D0D6;
$additional-c5-color-400: #19B2B8;
$additional-c5-color-300: #7CD0D3;
$additional-c5-color-200: #B9E6E8;
$additional-c5-color-100: #ECF6F6;

// TRANSITION
$primary-transition: all .3s;

// FONTS
$secondary-font: "Poppins", sans-serif;
