@import "@/styles/variables";

.sectionCartTitle {
  font-family: $secondary-font;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.sectionCartSubtitle {
  color: var(--primary-c1-color-700);
  font-size: 14px;
  margin-bottom: 32px;
}

.cartFieldLabel {
  font-family: $secondary-font;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  user-select: none;
  cursor: pointer;
}
