@import "./variables.scss";

@mixin color-theme {
  --primary-c1-color-900: #{$primary-c1-color-900};
  --primary-c1-color-800: #{$primary-c1-color-800};
  --primary-c1-color-700: #{$primary-c1-color-700};
  --primary-c1-color-600: #{$primary-c1-color-600};
  --primary-c1-color-500: #{$primary-c1-color-500};
  --primary-c1-color-400: #{$primary-c1-color-400};
  --primary-c1-color-300: #{$primary-c1-color-300};
  --primary-c1-color-200: #{$primary-c1-color-200};
  --primary-c1-color-100: #{$primary-c1-color-100};

  --secondary-c2-color-500: #{$secondary-c2-color-500};
  --secondary-c2-color-400: #{$secondary-c2-color-400};
  --secondary-c2-color-300: #{$secondary-c2-color-300};
  --secondary-c2-color-200: #{$secondary-c2-color-200};
  --secondary-c2-color-100: #{$secondary-c2-color-100};

  --additional-c3-color-500: #{$additional-c3-color-500};
  --additional-c3-color-400: #{$additional-c3-color-400};
  --additional-c3-color-300: #{$additional-c3-color-300};
  --additional-c3-color-200: #{$additional-c3-color-200};
  --additional-c3-color-100: #{$additional-c3-color-100};

  --additional-c5-color-500: #{$additional-c5-color-500};
  --additional-c5-color-400: #{$additional-c5-color-400};
  --additional-c5-color-300: #{$additional-c5-color-300};
  --additional-c5-color-200: #{$additional-c5-color-200};
  --additional-c5-color-100: #{$additional-c5-color-100};
}
