@import "./variables";
@import "./media";

.titleCategory {
  font-family: $secondary-font;
  color: var(--primary-c1-color-900);
  font-size: 18px;
  font-weight: 600;
}

.arrowIcon {
  transition: $primary-transition;
  stroke: var(--secondary-c2-color-500);

  &[data-active="true"] {
    transform: rotate(180deg);
  }
}

.dropdownIcon {
  width: 20px;
  height: 20px;
}

.footerNavbarNavigationListItem {
  color: var(--secondary-c2-color-500);
  transition: $primary-transition;
  font-size: 14px;
  gap: 16px;
  margin-top: 16px;

  &:hover {
    color: var(--secondary-c2-color-300);
    transition: $primary-transition;
  }
}

.productCardCharacteristics {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;

  .productCardCharacteristicsItem {
    display: flex;
    color: var(--primary-c1-color-700);
    word-break: break-word;

    & span {
      &:first-child {
        max-width: 80px;
        min-width: 80px;
        margin-right: 20px;
      }
    }

    &:last-child {
      color: var(--secondary-c2-color-500);
    }
  }
}

.sidebarItemContainer {
  margin-bottom: 48px;

  @include sidebarLargeMobile {
    margin-bottom: 30px;
  }

  .sidebarTitle {
    color: var(--primary-c1-color-900);
    font-family: $secondary-font;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

.shortButtonIconWrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-c1-color-600) !important;
  background-color: var(--primary-c1-color-300) !important;
  transition: $primary-transition;
  border-radius: 12px !important;
  padding: 9px 10px !important;
  height: 100%;
  cursor: pointer;

  &:hover {
    transition: $primary-transition;
    border: 1px solid var(--primary-c1-color-700);
  }
}
