@import "./variables";

.titleCategory {
  font-family: $secondary-font;
  color: var(--primary-c1-color-900);
  font-size: 18px;
  font-weight: 600;
}

.arrowIcon {
  transition: $primary-transition;
  stroke: var(--secondary-c2-color-500);

  &[data-active="true"] {
    transform: rotate(180deg);
  }
}

.dropdownIcon {
  width: 20px;
  height: 20px;
}

.footerNavbarNavigationListItem {
  color: var(--secondary-c2-color-500);
  transition: $primary-transition;
  font-size: 14px;
  gap: 16px;
  margin-top: 16px;

  &:hover {
    color: var(--secondary-c2-color-300);
    transition: $primary-transition;
  }
}

.productCardCharacteristics {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .productCardCharacteristicsItem {
    display: flex;
    color: var(--primary-c1-color-700);

    & span {
      width: 100px;
    }

    &:last-child {
      color: var(--secondary-c2-color-500);
    }


  }

  .productCardCharacteristicsAccentItem {
    //&:last-child {
    //  color: var(--secondary-c2-color-500);
    //}
  }
}
