@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');
@import "normalize.css";
@import "reset";
@import "colors";
@import "media";

:root {
  @include color-theme;

  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

*::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-c1-color-600);
  border-radius: 20px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  min-width: $MOBILE;
  scroll-behavior: smooth;
  color: var(--primary-c1-color-900);
}

body[scrollable] {
  overflow: hidden;
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}
