@import "@/styles/media";

.productCustomersReviewsContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 40px;

  @include productCardsContainer {
    margin-bottom: 30px;
  }

  .productCustomersReviewsContent {
    color: var(--primary-c1-color-700);
    font-size: 14px;
    font-weight: 400;
  }
}
