@import "@/styles/variables";
@import "@/styles/media";

.productCardDetailsContainer {
  overflow-wrap: break-word;
  width: calc(100% - 212px);

  @media (max-width: 1150px) {
    width: 100%;
  }

  .productCardContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;

    @media (max-width: 1150px) {
      margin-bottom: 16px;
    }

    .productCardTitle {
      font-family: $secondary-font;
      font-size: 18px;
      font-weight: 600;
    }

    .productCardShortDescription {
      font-size: 14px;
    }
  }
}
