.sidebarBrandsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 8px;
  color: var(--primary-c1-color-900);
  max-height: 160px;
  padding: 5px 10px 5px 0;
  overflow-y: auto;

  .sidebarBrandsItem {
    display: flex;
    align-items: center;
    column-gap: 12px;

    .sidebarBrandsItemLabel {
      color: var(--primary-c1-color-900);
    }
  }
}
