@import "@/styles/variables";

.button {
  font-family: $secondary-font;
  outline: none;
  cursor: pointer;
  border-radius: 12px;
  background-color: var(--secondary-c2-color-500);
  color: var(--primary-c1-color-100);
  border: 2px solid var(--secondary-c2-color-400);
  font-weight: 700;
  font-size: 15px;
  padding: 12px 16px;
  transition: $primary-transition;

  &:hover {
    background-color: var(--secondary-c2-color-300);
    transition: $primary-transition;
  }
}
