@import "@/styles/variables";

.cartPricingDetailsList {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 32px;
  font-family: $secondary-font;

  .cartPricingDetailsItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    column-gap: 30px;
    text-wrap: nowrap;
    overflow: hidden;

    & .cartPriceDetailsTitle {

    }

    & .cartPriceDetailsSubtitle {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }
  }
}
