@import "@/styles/variables";
@import "@/styles/media";

.headerInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin-bottom: 13px;
  background-color: #fff;
  border-bottom: 1px solid var(--primary-c1-color-400);

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .headerInfoList {
    display: flex;
    transition: $primary-transition;
    gap: 30px;

    @include tablet {
      transition: $primary-transition;
      gap: 15px;
    }

    .headerInfoListItem {
      color: var(--primary-c1-color-900);
      font-size: 14px;
      transition: $primary-transition;

      &:hover {
        color: var(--primary-c1-color-800);
        transition: $primary-transition
      }

      &:first-child {
        color: var(--secondary-c2-color-500);
        transition: $primary-transition;

        &:hover {
          color: var(--secondary-c2-color-300);
          transition: $primary-transition;
        }
      }
    }

    .headerAboutListItem {
      color: var(--secondary-c2-color-500);
      transition: $primary-transition;

      &:hover {
        color: var(--secondary-c2-color-300);
        transition: $primary-transition;
      }
    }
  }
}
