@import "@/styles/media";

.cartOrderSummaryContainer {
  position: sticky;
  top: 24px;
  right: 0;
  max-width: 550px;
  min-width: 550px;
  max-height: 1100px;
  height: 100%;
  border-radius: 12px;
  border: 1px solid var(--primary-c1-color-600);
  padding: 32px 16px;

  @include productCardsContainer {
    position: relative;
    top: 0;
    height: auto;
    max-height: none;
    width: 100%;
    min-width: 100%;
  }
}
