@import "@/styles/variables";
@import "@/styles/media";

.searchDropListItemContainer {
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  height: 45px;
  color: var(--primary-c1-color-900);
  font-weight: 600;
  font-size: 14px;
  padding: 8px 15px;
  transition: $primary-transition;

  @include largeMobile {
    height: auto;
  }

  &:hover {
    transition: $primary-transition;
    background-color: var(--secondary-c2-color-200);
  }

  .searchDropListItem {
    display: flex;
    align-items: center;
  }

  .searchDropListProductTitleContainer {
    display: flex;
    align-items: center;
    column-gap: 12px;
    word-break: break-all;
    .searchDropListImageItem {
      width: 30px;
    }
  }
}
