@import "@/styles/media";

.productCharacteristicsList {
  display: flex;
  column-gap: 30px;
  margin-bottom: 40px;

  @include productCardsContainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 12px;
    margin-bottom: 30px;
  }
}
