@import "@/styles/media";
@import "@/styles/variables";

.productOrderNavigationWrapper {
  @include largeMobile {
    width: 100%;
  }

  .productOrderNotification {
    font-size: 14px;
    font-family: $secondary-font;
    color: var(--secondary-c2-color-500);
    position: absolute;
    top: -16px;
    left: 0;
  }

  .amountProductsNotification {
    top: auto;
    bottom: -18px;

    @include desktop {
      bottom: -33px;
    }

    @include productCardsContainer {
      bottom: -8px;
    }

    @include tablet {
      bottom: -18px;
    }

    @include sidebarLargeMobile {
      bottom: -8px;
    }

    @include largeMobile {
      bottom: -18px;
    }
  }
}
