.productCardNavigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .productCardPriceContainer {
    max-width: 150px;
  }

  .productCardPrice, .productCardPriceContainer {
    margin-bottom: 0;
  }

  .productCardNavigationButton {
    padding: 6px 12px;
  }
}
