@import "@/styles/variables";

.deliveryInfoContainer {
  font-size: 14px;
  color: var(--primary-c1-color-700);
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 26px;

  .deliveryType {
    font-family: $secondary-font;
    font-weight: 600;
  }

  .deliveryDuration {
  }
}
